{{- /* machine: os-release id on Linux (fedora, truenas); on macs, darwin (personal) */ -}}
{{- /* or work. Set once at init and reused thereafter; both macs report os darwin. */ -}}
{{- $machine := index .chezmoi.osRelease "id" | default .chezmoi.os -}}
{{- if hasKey . "machine" -}}
{{-   $machine = .machine -}}
{{- else if eq $machine "darwin" -}}
{{-   if promptBool "Work machine" false -}}
{{-     $machine = "darwin-work" -}}
{{-   end -}}
{{- end -}}
{{- $name := promptStringOnce . "name" "Git name" "Steven Kreitzer" -}}
{{- $email := promptStringOnce . "email" "Git email" "skre@skre.me" -}}
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  machine: {{ $machine | quote }}
