[user]
  name = Steven Kreitzer
  email = skre@skre.me
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCl/OhnZeIN96psc+2QkidKCkpARumW1MusI2jV9pHCNjFVnPC36TSW/xpLNkAizCB1NL7blUXdPQrHbou6bsgOBS0b3TETUuoaHZ4jTlMyUdA5cypxHy3EXfogREC04inGMVvp4Npx/CXCQD4X/X3tqcjMMgDUWXKptx30VYzxgyWWXkct1+5s9mFaa/U71ik5zbr7dzeRUl+8wesKRnwsnLZH+MKceYBqbf52wKQBeyOET6v1LwUjmXjTfpIOnLaldXGOyHGnybt1cAmFd02fRwG9NAIqEF1hKM4xAGjEhyYZjJWAHaI4SUE0skT/9U5pnrJOO5NNAwvKBO3g13FB
[gpg]
  format = ssh
[format]
  signOff = true
[core]
  autocrlf = input
  editor = nvim
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
  gpgsign = true
[merge]
  ff = only
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  autoSetupRemote = true
