[user]
  name = {{ .name }}
  email = {{ .email }}
  signingKey = ~/.ssh/id_ed25519.pub
[gpg]
  format = ssh
[format]
  signOff = true
[core]
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[commit]
  gpgsign = true
[merge]
  ff = only
  conflictStyle = zdiff3
[pull]
  rebase = true
[fetch]
  prune = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  autoSetupRemote = true
