if type -q gpgconf
    set -gx SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
    {{ lookPath "gpgconf" }} --launch gpg-agent
end

if type -q gpg-connect-agent
    gpg-connect-agent /bye
end

set -gx GPG_TTY (tty)
